.heading-1 {
    background-color: rgb(246, 2, 153);
}

.heading-1 h5 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    padding: 10px 0px;
    color: #fff;
}

.heading-2 {
    margin-top: 10px;
}

.heading-2 span :hover {
    color: red;
}

.heading-2 p a {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(49, 49, 49);
    transition: .5s;
}

.heading-2 p a:hover {
    color: red;
}

.header-3 h1 {
    text-transform: uppercase;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: .5s;
    margin-top: 20px;
}

.header-3 a {
    text-decoration: none;
}

.header-3 h1:hover {
    color: rgb(77, 64, 64);
}

.header-3 .Sarah {
    height: 50px;
    width: 500px;
    padding: 0px 15px;
    border: none;
    margin-top: 20px;
}

.header-3 .button {
    height: 53px;
    padding: 0px 25px;
    border: none;
    background-color: red;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-left: px;
}

.header-3 ul {
    text-align: left;
    margin-left: -50px;
    margin-top: 20px;
}

.header-3 ul li {
    display: inline-block;
    margin: 5px;
}

.header-3 ul li a {
    color: black;
    font-size: 20px;
    padding: 10px 10px;
    background: rgb(255, 253, 253);
    font-size: 25px;
    transition: .5s;
}

.header-3 ul li a:hover {
    color: #fff;
    background-color: red;
}

.header-4 ul {
    margin-top: 50px;
    text-align: left;
    z-index: 999;
}

.header-4 ul li {
    display: inline-block;
    position: relative;
}

.header-4 ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 0px 20px;
    transition: .5s;
    font-family: 'Times New Roman', Times, serif;
}

.header-4 ul li a:hover {
    color: red;
}

.header-4 ul li ul {
    position: absolute;
    top: -20px;
    left: -20%;
    width: 300px;
    margin-left: 0;
    background: rgb(253, 255, 250);
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transition: .5s;
    transform-origin: top center;
}

.header-4 ul li ul li {
    display: block;
}

.header-4 ul li ul li a {
    display: block;
    line-height: 50px;
}

.header-4 ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.product h2 {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.product img {
    margin-top: 50px;
    cursor: pointer;
    height: 150px;
}

.product .div-1 {
    position: relative;
    height: 150px;
    z-index: 999;
}

.product .div-1:hover .img-2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.product .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    width: 100%;
    transition: .5s;
    z-index: 999;
}

.product {
    text-align: center
}

.product ul {
    text-align: left;
    margin-top: 10px;
}

.product ul li {
    display: inline-block;
}

.product ul li span {
    padding: 0px 2px;
    font-size: 10px;
    color: rgb(255, 174, 0);
}

.product a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 12px;
    margin-top: -5px;
    font-weight: bold;
    transition: .5s;
}

.product a:hover {
    color: rgb(90, 90, 90);
}

.banner-1 {
    display: block;
    margin-top: 180px;
}

.banner-1 img {
    transition: .5s;
    cursor: pointer;
}

.banner-1 img:hover {
    transform: scaleX(1.1);
}

.product-1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: left;
}

.product-1 .div-1 {
    position: relative;
    height: 150px;
    z-index: 999;
    cursor: pointer;
}

.product-1 .div-1:hover .img-2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.product-1 .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    width: 100%;
    transition: .5s;
    z-index: 999;
}

.product-1 ul {
    margin-left: -35px;
    margin-top: 30px;
    display: block;
}

.product-1 ul li {
    display: inline-block;
}

.product-1 ul li span {
    font-size: 10px;
    color: rgb(255, 153, 0);
}

.product-1 a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-top: -10px;
    display: block;
}

.product-2 {
    margin-top: 100px;
}

.product-2 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
}

.product-2 .div-1 {
    position: relative;
    height: 150px;
    z-index: 999;
    cursor: pointer;
    margin-top: 20px;
}

.product-2 .div-1:hover .img-2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.product-2 .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    width: 100%;
    transition: .5s;
    z-index: 999;
}

.product-2 ul {
    text-align: left;
    margin-top: 60px;
}

.product-2 ul li {
    display: inline-block;
}

.product-2 ul li span {
    padding: 0px 2px;
    font-size: 10px;
    color: rgb(255, 174, 0);
}

.product-2 .div-2 {
    text-align: center;
}

.product-2 b {
    color: black;
}

.product-3 {
    text-align: center;
}

.product-3 img {
    cursor: pointer;
}

.product-3 ul {
    margin-left: -35px;
    margin-top: 30px;
    display: block;
}

.product-3 ul li {
    display: inline-block;
}

.product-1 ul li span {
    font-size: 10px;
    color: rgb(255, 153, 0);
}

.product-3 .div-2 a {
    text-decoration: none;
    display: block;
    color: black;
}

.product-3 .div-2 ul li span {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -10px;
    display: block;
    color: rgb(171, 123, 2);
}

.product-3 .div-1 {
    position: relative;
    z-index: 999;
}

.product-3 .img-2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: .5s;
    z-index: 999;
}

.product-3 .div-1:hover .img-2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.Logo {
    margin-top: 50px;
}

.Logo img {
    cursor: pointer;
    opacity: .5;
    transition: .5s;
}

.Logo img:hover {
    opacity: 1;
    transform: scaleX(1.1);
}

.footer-1 .main {
    display: flex;
    margin-top: 80px;
}

.footer-1 .div-1 {
    padding: 15px;
}

.footer-1 .div-1 p {
    font-size: 12px;
    margin-top: 15px;
}

.footer-1 .div-1 b {
    text-transform: uppercase;
}

.footer-2 b {
    text-transform: uppercase;
}

.footer-2 .G-mail {
    padding: 0px 20px;
    height: 40px;
    width: 380px;
    border: none;
}

.footer-2 .Link {
    text-decoration: none;
    color: #fff;
    background-color: rgb(247, 76, 38);
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -2px;
    display: inline-block;
}

.footer-3 {
    margin-top: 90px;
}

.footer-3 ul {
    margin-left: -45px;
    margin-top: 20px;
}

.footer-3 ul li {
    list-style: none;
    line-height: 30px;
}

.footer-3 ul li a {
    text-decoration: none;
    color: rgb(94, 94, 94);
    transition: .5s;
}

.footer-3 ul li a:hover {
    color: red;
}

.footer-3 ul li span {
    font-size: 10px;
    padding: 0px 10px;
    color: rgb(94, 94, 94);
}

.footer-3 b {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-4 b {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    text-align: center;
}

.footer-4 ul {
    text-align: center;
    margin-top: 20px;
}

.footer-4 ul li {
    display: inline-block;
}

.footer-4 ul li a {
    text-decoration: none;
    color: rgb(94, 94, 94);
    padding: 0px 20px;
    border-right: 1px solid rgb(94, 94, 94);
    transition: .5s;
}

.footer-4 ul li a:hover {
    color: red;
}